body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.containerGeral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.quadro {
    background-color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 99%;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 15px 15px;
}

/* Etapas */
.objetivoP {
    height: 100%;
    width: 100%;
    display: none;
}


.formacaoAcademica, .experienciaProfissional, .idiomas, .cursos {
    width: 100%;
    display: none;
    align-items: center;
}

#addFormAcad, #addExpProf, #addIdioma, #addCurso {
    background-color: rgb(25, 77, 145);
    color: white;
    border-radius: 30px;
    border: none;
    margin-top: 5px;
}

#listaFormacao, #listaExpProf, #listaIdiomas, #listaCursos {
    margin: 10px auto;
    padding: 10px 20px;
    width: 90%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
}

#listaFormacao > div, #listaExpProf > div, #listaIdiomas > div, #listaCursos > div {
    display: inline-block;
    width: 25%;
    height: auto;
    max-width: 25vw;
    margin: 0px 2%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#listaFormacao > div > button, #listaExpProf > div > button, #listaIdiomas > div > button, #listaCursos > div > button {
    background-color: rgb(145, 25, 25);
    color: white;
    border-radius: 30px;
    border: none;
    margin-top: 5px;
}

#curriculo {
    display: none;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    border: solid 1px rgb(0, 0, 0);
}
/* Config geral */
form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 40%;
    justify-content: space-around;
}

#corTitulo {
    color: rgb(0, 0, 0);
}

h2,
h1 {
    text-align: center;
    margin-top: 5%;
    color: rgb(0, 0, 0);
}

input {
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 100%;
    min-width: 150px;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: white;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgb(0, 0, 0);
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    overflow: auto;
    outline: none;
    border-radius: 20px;
}

select {
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 100%;
    min-width: 150px;
}

input:focus {
    outline: none;
}

span {
    margin: 1% 2% 0 2%;
    display: inline-block;
    padding: .5%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom: 1px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-bottom-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
}




/* Botões */
#btnNext {
    margin-left: auto;
    background-color: rgb(25, 77, 145);
    color: white;
    border-radius: 30px;
    border: none;
    width: 15%;
}

#btnBack {
    display: none;
    background-color: rgb(25, 77, 145);
    color: white;
    border-radius: 30px;
    border: none;
    width: 15%;
}

#btnSubmit {
    margin-left: auto;
    display: none;
    background-color: rgb(25, 77, 145);
    color: white;
    border-radius: 30px;
    border: none;
    margin-top: 5px;
    max-width: 30%;
}